.photo-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.photo-list-grid {
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
}
